@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,400;0,600;1,900");

/* 
Vermelho : #e63d3d
vermelho::hover : #c42f2f
branco : #fff
preto : #121212
preto::hover : #23272b 
*/
/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

*
{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
font-family: 'Barlow Condensed', sans-serif;
}




@media (min-width: 768px) 
{

    .container
    {
        padding-left: 6rem;
        
    }

}


@media (min-width: 992px) 
{

    .container
    {
        padding-left: 14rem;
        
    }


}


@media (min-width: 1200px)
 {


    .container
    {
        padding-left: 18.5rem;
        
    }

  }